.DS_Store
*.py[co]
*.pyc
*.swl
*.swm
*.swn
*.swo
*.swp
*.log
*.log.*
dist/
.cache
build
*pip-log.txt
*.egg-info
*.egg
*.coverage
.tox/
docs/_build/*
.bigmler*
tests/.bigmler*
*~


# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
